<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile" xsi:type="File" layout="${mdlc:scope} | ${longdate} | ${logger} | ${message}" fileName="log.txt" />
    <target name="logconsole" layout="${mdlc:scope}|${longdate}|${logger}|${message}|${exception:format=ToString}" xsi:type="Console"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="logconsole" />
    <logger name="*" minlevel="Trace" maxlevel="Warn" writeTo="logfile" />
  </rules>
</nlog>